ЗАДАЧА DA-1-11 ДАТА АНАЛИТИКА: ЭКСПОРТ В CSV-ФАЙЛ

Подключая библитотеки:

In [10]:
import numpy as np
import pandas as pd
import os

Библиотека для создания синтетического датафрейма:

In [4]:
from sklearn.datasets import make_classification

Генерация синтетического датафрейма:

In [7]:
X, y = make_classification(n_samples=400, n_features=5, random_state=52)
data = pd.DataFrame(X, columns=['A', 'B', 'C', 'D', 'E'])
data['Target'] = y

Просмотрим первые 5 строк таблицы:

In [8]:
data.head(5)

          A         B         C         D         E  Target
0  1.902399 -2.184404 -0.269948 -1.116465  2.296970       1
1 -2.082639  2.109050  0.332192 -1.676080 -2.309965       0
2  1.260101 -0.758631 -0.268201 -0.151450  1.022582       1
3  0.988952 -0.775667 -0.187075 -0.145425  0.933213       1
4  0.597542  1.397986 -0.355483 -1.226284 -0.789141       1

Экспорт датафрейма data в CSV-файл с помощью pd.to_csv() метода:

In [9]:
data.to_csv("CSV-SYNTHODATA.csv", index=None)

Проверка наличия CSV-файла в текущей директории:

In [12]:
f"Файл в папке? {os.path.exists('CSV-SYNTHODATA.csv')}"

'Файл в папке? True'